.topBanner {
    background-color: black;
    color: white;
}

.secondBanner {
    background-color: green;
    color: white;
}

.menuIcon {
    height: 24px;
    width: 24px;
}

.searchBar {
    border: none;
    background-color: lightgray;
}